---
layout: side_drawer.html
tags: sections
group: docs
options: mdl
theme: indigo-pink
order: 1
icon: home
title: Documentation
description: Example blog section
keywords:
- Blog
---

<label>{{ title }}</label>

<div layout="rows center-spread">
{%- for post in collections[section] -%}

{% assign imageUrl = 'https://picsum.photos/seed/docs-' | append: forloop.index0 | append: '/256/256' %}

{% zx 'card' post.data.title imageUrl 'Open' '#link-to-somewhere' 'image' %}
{{ post.data.description }}
{% endzx %}

{%- endfor -%}
</div>
