---
layout: side_drawer.liquid
options: mdl
theme: green-pink
order: 0
icon: home
title: Home
description: zuix.js web starter home page
keywords:
- zuix
- web starter
- home
---
{% assign sections = collections.sections | sort: 'data.order' %}
{%- for section in sections -%}
<div layout="column center-center" style="margin-bottom: 56px">
    <h2 class="mdl-color-text--primary">{{ section.data.title }}</h2>
    <div layout="rows center-center">
    {% assign posts = collections[section.data.group] | sort: 'data.order' %}
    {%- for post in posts -%}

        {% assign imageUrl = 'https://picsum.photos/seed/' | append: post.data.tags | append: '-' | append: forloop.index0 | append: '/256/256' %}
        {% assign postUrl = post.url | url %}

        {% zx 'card' post.data.title imageUrl 'Open' postUrl 'image' %}
        {{ post.data.description }}
        {% endzx %}

    {%- endfor -%}
    </div>
</div>
{% endfor %}
