---
layout: side_drawer.liquid
tags: sections
group: templates
section: templates
options: mdl
theme: indigo-pink
order: 2
icon: home
title: Templates
description: Example blog section
keywords:
- Blog
---

<div layout="rows center-spread">
    {%- for post in collections[group] -%}

        {% assign postUrl = post.url | url %}
        {% assign imageUrl = 'https://picsum.photos/seed/templates-' | append: forloop.index0 | append: '/256/256' %}

        {% zx 'card' post.data.title imageUrl 'Open' postUrl 'image' %}
        {{ post.data.description }}
        {% endzx %}

    {%- endfor -%}
</div>
