<div z-field="header-bar" class="header-bar">

    <div class="header">
        <div class="profile pulse">
            <img alt="Profile Icon" src="{{ '/images/profile-icon.png' | url }}">
        </div>
        <div z-field="header-box" layout="row center-center">
            <div class="title">
                Home
            </div>
            <div z-load="shared/input_box"></div>
            <div class="title">
                Notifications
            </div>
            <div class="title">
                Messages
            </div>
        </div>
    </div>
    <div z-field="header-tools">
        <div ctrl z-load="@lib/controllers/view-pager"
             z-options="options.pageIndicator"
             class="topics visible-on-ready">
{% assign sectionList = collections.news_section | sort: 'data.order' %}
{% for section in sectionList %}
            <div data-section="{{ section.data.folder }}" data-order="{{ section.data.order }}">
                {{ section.data.title }}
            </div>
{%- endfor %}
        </div>
    </div>

</div>
