{% assign prevPost = collections | getCollection: page | getPreviousCollectionItem: page %}
{% assign nextPost = collections | getCollection: page  | getNextCollectionItem: page %}

<div -self="size-x1" layout="row center-spread" style="margin-top: 96px; margin-bottom: 56px; padding-left: 8px; padding-right: 8px; font-size: 140%">
    {% if prevPost %}
    <a href="{{ prevPost.url }}">
        <label layout="row center-center">
            <i class="material-icons">arrow_left</i>&nbsp;
            <span style="padding-right: 24px">Previous</span>
        </label>
        <small layout="row center-center">{{ prevPost.data.title }}</small>
    </a>
    {% endif %}
    {% if nextPost %}
    <a href="{{ nextPost.url }}">
        <label layout="row center-center">
            <span style="padding-left: 24px">Next</span>
            <i class="material-icons">arrow_right</i>&nbsp;
        </label>
        <small layout="row center-center">{{ nextPost.data.title }}</small>
    </a>
    {% endif %}
</div>
