{% capture good_mark %}
<div layout="row center-left">
    <i class="material-icons" style="color: green">done</i>
    <span>Good</span>
</div>
{% endcapture %}

{% capture bad_mark %}
<div layout="row center-left" style="margin-top: 32px">
    <i class="material-icons" style="color: red">clear</i>
    <span>Bad</span>
</div>
{% endcapture %}
