<code>-~=({{ app.title }})=~-</code>
{% assign docs = collections.sections | sort: 'data.order' %}
{%- for item in docs %}
    <a href="{{ item.url | url }}">{{ item.data.title }}</a> |
{% endfor -%}
