.drawer-header {
    color:white;
    height: 128px;
    padding: 8px 8px 8px 8px;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.drawer-header img.logo {
    width: 64px;
    height: 64px;
    border: solid 1px rgba(0,0,0,0.75);
    border-radius: 56px;
    background: #ffffff;
}
[data-theme="dark"] .drawer-header img.logo {
    background: #000;
}

.drawer-header .text-logo {
    font-size: 180%;
    font-weight: 400;
    margin-right: 48px;
}
.drawer-header .title {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 120%;
    font-weight: 300;
}
.drawer-header .subtitle {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 100%;
    opacity: 0.75;
}
.drawer-content {
    background: white;
}
[data-theme="dark"] .drawer-content {
    background: #24333e;
}

.drawer-content ul {
    padding: 0;
    margin-top: 8px;
    /*font-size: 120%;*/
}
.drawer-content li:hover {
    background: rgba(0,0,0,0.1);
}
.drawer-content li {
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;;
    list-style: none;
}
.drawer-content ul li[aria-current=page] {
    background-color: rgba(127,167,127,0.1);
    border-radius: 12px;
}
.drawer-content ul li[aria-current=page] {
    /*font-weight: bold;*/
}
.drawer-content li a {
    font-weight: 500;
    position: relative;
    display: block;
    padding: 6px 16px;
    text-decoration: none;
}
.drawer-content li i {
    width: 48px;
}
.drawer-content ul li[aria-current=page] a {
    /*pointer-events: none;
    font-weight: bold;*/
}
.drawer-content ul li a div.summary {
    font-size: 95%;
    line-height: 150%;
    margin-top: 4px;
    margin-right: 32px;
    font-style: italic;
    font-weight: 400!important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: lightslategray;
}
.drawer-content label {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 12px;
    font-weight: bold;
    color: rgba(127,127,127,1);
}
.drawer-content a {
{% if theme == 'dark' %}
    color: #dfdfdf;
{% else %}
    color: #24333e;
{% endif %}
}
[z-context="menu-drawer"]:focus {
    outline: none;
}
