<div layout="rows top-spread">
    {%- for post in itemsList -%}

        {% if post.data.link %}
            {% assign postUrl = post.data.link | url %}
        {% else %}
            {% assign postUrl = post.url | url %}
        {% endif %}
        {% assign imageUrl = post.data.imagePreviewMini | url %}

        {% zx 'card' post.data.title imageUrl 'Open' postUrl 'image' %}
        {{ post.data.description }}
        {% endzx %}

    {%- endfor -%}
</div>
