    :root {
        --primary-color: #1d68a8; /* rgb(63,81,181) */
        --accent-color: rgb(124,77,255);
        --background-color: unset;
    }

    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
        position: relative;
        min-height: 100vh;
        background: var(--background-color);
    }

    a {
        text-decoration: none;
    }
    h1 {
        font-size: 230% !important;
        font-weight: 500;
    }
    h1.title {
        margin:0;
        padding-right: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    h2 {
        font-size: 220% !important;
        font-weight: 550;
        color: var(--primary-color);
    }
    h3 {
        font-size: 190% !important;
        opacity: 0.9;
    }
    h4 {
        font-size: 160% !important;
        opacity: 0.8;
    }
    h5 {
        font-size: 150% !important;
        opacity: 0.7;
    }
    h6 {
        font-size: 130% !important;
        opacity: 0.6;
    }

    li {
        margin-top: 18px;
        margin-bottom: 18px;
        font-size: 120%;
    }
    li small {
        font-family: Helvetica, sans-serif;
        font-size: 70%;
        font-weight: 600;
        margin-left: 6px;
        text-transform: uppercase;
        opacity: 0.5;
    }

    blockquote {
        font-size: 140%;
        opacity: 0.6;
    }

    p {
        font-size: 130%;
        line-height: 160%;
        margin-bottom: 24px;
    }

    hr {
        margin-bottom: 30px;
    }

    code[class*=language-], pre[class*=language-] {
        font-size: 115%;
    }
    pre:not([class*="language-"]) {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
    }

    pre[class*="language-"]{
        margin-top: 32px!important;
        margin-bottom: 32px!important;
    }
    code {
        color: #0b4d2c;
        overflow-wrap: break-word; /* for old browsers */
        overflow-wrap: anywhere;
    }

    /* prevents links dragging */
    a, a::after, a::before {
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
    }

    main {
        width: 100% !important;
        padding: 0 !important;
        transition: padding-left 150ms ease-in-out;
    }
    main div.content {
        width: 100% !important;
        max-width: 960px !important;
        padding-top: 24px;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    main h2:first-child  {
        margin-top: 0!important;
    }
    main h2:not(:first-child)  {
        margin-top: 64px;
    }
    main h3 {
        margin-top: 56px;
        margin-bottom: 16px;
    }

    [z-field="header"] {
        position: fixed;
        z-index: 1;
        top:0; left: 0; right: 0; bottom: 0;
        height: 64px;
        padding-left: 8px;
        padding-right: 8px;
        background: #f1f1f1;
        box-shadow: 0 1px rgba(100, 100, 100, 30%);
    }
    h1[z-field="alt_header"] {
        max-width: 100%;
        text-align: center;
        display: block;
        padding: 10px 56px 24px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-menu-button {
        cursor: pointer;
        height: 48px!important;
        width: 48px!important;
    }
    .header-menu-button i {
        color: black;
        font-size: 32px!important;
        left: 20px!important;
    }

    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
    }
    @media screen and (min-width: 1280px) {
        main {
            padding-top: 0 !important;
            padding-left: 304px !important;
            padding-right: 24px !important;
        }
        [z-field="header"] {
            padding-left: 316px;
            display: none;
        }
        h1[z-field="alt_header"] {
            margin-top: 32px;
            margin-bottom: 48px;
            margin-left: -28px;
            visibility: visible;
        }
        .header-menu-button {
            display: none;
        }
    }

    /* UI state classes */
    .not-ready {
        opacity: 0.5;
        -webkit-animation: pulse .5s infinite ease-in-out;
        -o-animation: pulse .5s infinite ease-in-out;
        -ms-animation: pulse .5s infinite ease-in-out;
        -moz-animation: pulse .5s infinite ease-in-out;
        animation: pulse .5s infinite ease-in-out;
    }
    @-webkit-keyframes pulse {
        0% { opacity: 0.2; }
        50% { opacity: 0.4; }
        100% { opacity: 0.2; }
    }
    @keyframes pulse {
        0% { opacity: 0.2; }
        50% { opacity: 0.4; }
        100% { opacity: 0.2; }
    }

    [z-load="@lib/templates/mdl-card-image"] {
        position: relative;
        width: 256px;
        height: 256px;
    }
    [z-include][z-ready=true].visible-on-ready, [z-load][z-ready=true].visible-on-ready {
        transition: opacity 500ms ease-in-out;
    }
    {% include 'layouts/side_drawer/drawer.css' %}
