<div>
    <ul>
        <li><a href="https://zuixjs.github.io/web-app">Web App</a></li>
        <li><a href="https://zuixjs.github.io/news-blog">News Blog</a></li>
    </ul>
</div>
<div layout="column center-center">
    <h3>
        <a layout="row center-left" style="gap: 12px;" href="https://github.com/zuixjs/zuix-web-starter">
            <span>Source code</span>
            <div style="padding:1px; border-radius:32px; background:white">
                <img src="./images/github-mark.png" alt="GitHub logo" width="32" height="32">
            </div>
        </a>
    </h3>
    <h3>
        Try this template on
        <a href="https://stackblitz.com/github/zuixjs/zuix-web-starter/?view=preview" target="_blank" rel="noreferrer">StackBlitz</a>.
    </h3>
</div>
