<div layout="column center-center" style="padding-top: 64px; padding-bottom: 12px">
    <div style="padding-bottom: 6px; font-weight: bold">Support this work</div>
    <iframe src="https://github.com/sponsors/genemars/button" title="Sponsor my works." height="32" width="320" style="border: 0;max-width: 180px"></iframe>
</div>
