---
layout: side_drawer.liquid
options: mdl highlight ext-links
theme: indigo-deep_purple
order: 0
icon: home
title: Home
description: zuix.js web app home page
keywords:
- zuix
- web starter
- web app
- home
---


{% renderTemplate "md" %}

This template is based on `zuix-web-starer`. It is recommended to read its [documentation](https://zuixjs.github.io/zuix-web-starter)
to get started using this template.

{% endrenderTemplate %}


<a href="https://github.com/zuixjs/zuix-web-starter" style="gap: 12px; font-size: 140%; padding: 12px;display: inline-block">
    <img src="{{ '/images/github-mark.png' | url }}" width="32" height="32" alt="GitHub logo">
    <span>source code</span>
</a>


<!-- sections and articles list -->

{% assign sections = collections.sections | sort: 'data.order' %}
{%- for section in sections -%}
<div layout="column top-left">
    <h2 style="margin-top: 48px!important;">{{ section.data.title }}</h2>

    {% assign itemsList = collections[section.data.group] | sort: 'data.pubDate' | reverse | sort: 'data.order' -%}
    {% include "layouts/side_drawer/items-list.liquid" %}

</div>
{% endfor %}
