---
layout: landing_page.liquid
redirect: home/
order: 1
title: Landing Page
description: A brand new *zuix.js* project!
keywords:
- home
- welcome
- landing page
---
<div layout="column center-center" class="animate__animated animate__fadeOut animate__faster">
    <img src="{{ 'images/zuix-logo.svg' | url }}" alt="zuix.js logo" class="animate__animated animate__rotateOut animate__faster">
    <h1><a href="{{ redirect | url }}">Web Starter</a></h1>
</div>
