---
title: 'zUIx Web Starter'
link: 'https://github.com/genielabs/zuix-web-starter'
head:
  title: 'zUIx Web Starter'
  description: 'zUIx Web Starter application.'
---
{% include "_inc/head_open.html" %}
    <link rel="stylesheet" href="index.css">
    <!-- put any custom content that goes inside `<head>` here -->
{% include "_inc/head_close.html" %}
<body>

    <header>
        <h1><a href="{{link}}">{{title}}</a></h1>
    </header>

    <main></main>

    <footer></footer>

    <script src="index.js"></script>
{% include "_inc/body_end.html" %}
</body>
{% include "_inc/html_close.html" %}
